// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.bottom-20{
  margin-bottom: 20px;
}
.top-10{
  margin-top: 10px;
}

.base-page{
  min-height: 400px;
}
.pad-10{
  padding: 10px
}

/* Kaminari customization */
.pagination-filter{
  margin: 5px 0;
  ul{
    display: inline-block;
    margin-left: -25px;
  }
  li{
    display: inline-block;
    list-style-type: none;
  }

  li a:after{
    content: ' |';
  }

  li:last-child a:after{
    content: '';
  }
}

/* Flash messages styles */
.alert {
  width:70%;
  height:10px;
  font-size: 12px;
  line-height: 2px;
}
